/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  src: url("../public/fonts/Benzin-Bold.ttf");
  font-family: "Benzin-Bold";
}
:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Benzin-Bold", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: #fff;
  position: relative;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  width: 341px;
  height: 50px;
  border-radius: 30px;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #060606;
  font-weight: 600;
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 21;
  translate: -50% 0;
  opacity: 0;
  transition: all 400ms ease;
}
.tooltip span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  translate: -21px 0;
}
.tooltip svg {
  margin-left: 23px;
}

.tooltip.visible {
  display: flex;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 18px;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 1079px) {
  .header {
    top: 20px;
  }
}

.header__container {
  width: min(698px, 100%);
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  border: 1px solid #fff;
  border-radius: 21px;
  backdrop-filter: blur(20px);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.21) 0%, rgba(102, 102, 102, 0.21) 100%);
}
@media screen and (max-width: 1079px) {
  .header__container {
    width: fit-content;
    padding-left: 34px;
    padding-right: 34px;
    height: 41px;
  }
}

.navigation__list {
  display: flex;
  gap: 28px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
@media screen and (max-width: 1079px) {
  .navigation__list {
    font-size: 14px;
    gap: 25px;
    text-wrap: nowrap;
  }
}

.navigation__link {
  transition: filter 200ms ease;
}
.navigation__link:hover {
  filter: brightness(0.85);
}
.navigation__link:active {
  filter: brightness(1);
}

.header__socials {
  padding-top: 4px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1079px) {
  .header__socials {
    padding-top: 0;
    position: absolute;
    top: 336px;
    width: 191px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 80px;
  }
}
.header__socials a:first-of-type {
  width: 73px;
  height: 30px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  background-color: black;
}
@media screen and (max-width: 1079px) {
  .header__socials a:first-of-type {
    width: 55px !important;
    height: 22px;
  }
  .header__socials a:first-of-type svg {
    width: 43px;
    height: 22px;
  }
}
.header__socials img {
  width: 30px;
  height: 30px;
  translate: 0 -1px;
}
@media screen and (max-width: 1079px) {
  .header__socials svg,
  .header__socials img,
  .header__socials a {
    width: 22px;
    height: 22px;
  }
}
.header__socials svg:hover,
.header__socials img:hover,
.header__socials a:hover {
  transition: scale 200ms ease;
  scale: 1.05;
}

.home {
  padding-top: 236px;
  padding-bottom: 198px;
  background-image: url("../public/img/home/home_bg.png");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1079px) {
  .home {
    padding-top: 143px;
    padding-bottom: 50px;
  }
}

.home__container {
  width: min(1316px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
}

.home__title {
  margin-bottom: 265px;
  font-family: var(--second-family);
  font-size: 128px;
  letter-spacing: 0.08em;
  color: rgba(0, 0, 0, 0.29);
  text-align: center;
  text-wrap: nowrap;
  -webkit-text-stroke: 0.1mm #fff;
}
@media screen and (max-width: 1439px) {
  .home__title {
    font-size: 96px;
  }
}
@media screen and (max-width: 1079px) {
  .home__title {
    margin-bottom: 120px;
    font-size: 24px;
  }
}

.home__img {
  position: absolute;
  clip-path: polygon(83% 76.8%, 100% 63%, 100% 0, 0 0, 0 100%, 47.2% 100%, 44% 70%, 51% 68%, 66% 72%);
  bottom: 50%;
  left: 50%;
  translate: -62.5% 59.3%;
  z-index: 2;
}
@media screen and (max-width: 1079px) {
  .home__img {
    display: none;
  }
}

.home__links {
  margin-bottom: 66px;
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .home__links {
    display: none;
  }
}
.home__links a {
  width: 270px;
  height: 69px;
  border: 2px solid #fff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  transition: filter 200ms ease;
}
@media screen and (max-width: 840px) {
  .home__links a {
    width: 112px;
    height: 32px;
    font-size: 14px;
  }
}
.home__links a:hover {
  filter: brightness(0.8);
}
.home__links a:active {
  filter: brightness(1);
}

.home__token {
  width: 808px;
  height: 67px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  border: 2px solid #fff;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .home__token {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
  }
}

.token__code {
  font-weight: 600;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1079px) {
  .token__code {
    font-size: 14px;
  }
}

.token__copy {
  flex-shrink: 0;
  transition: filter 200ms ease;
}
.token__copy:hover {
  filter: brightness(0.8);
}
.token__copy:active {
  filter: brightness(1);
}
@media screen and (max-width: 1079px) {
  .token__copy {
    width: 20px;
    height: 20px;
    translate: 0 2px;
  }
}

@media screen and (max-width: 1079px) {
  .home__socials-bg {
    width: 191px;
    height: 41px;
    border-radius: 80px;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.14);
    position: relative;
    left: 50%;
    translate: -50%;
  }
}

.about {
  padding-top: 127px;
  padding-bottom: 168px;
  background-image: url("../public/img/about/about_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.about:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: none;
}
@media screen and (max-width: 1079px) {
  .about:before {
    display: block;
  }
}

.about__container {
  width: min(1600px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.about__site-map {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  text-wrap: nowrap;
}
@media screen and (max-width: 1079px) {
  .about__site-map {
    display: none;
  }
}
.about__site-map div {
  width: 100%;
  height: 1px;
  background: #fff;
}

.about__wrap {
  padding: 110px 110px 110px 56px;
  border: 1px solid #fff;
  border-radius: 28px;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.37);
  position: relative;
}
@media screen and (max-width: 1079px) {
  .about__wrap {
    padding: 0;
    border: none;
    border-radius: 0;
    backdrop-filter: blur(0);
    background: none;
  }
}

.about__title {
  margin-top: 40px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 96px;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .about__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.about__description {
  max-width: 940px;
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .about__description {
    max-width: 311px;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.about__btn {
  width: 272px;
  height: 68px;
  border-radius: 10px;
  background: #94380b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  transition: filter 200ms ease;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .about__btn {
    width: 112px;
    height: 32px;
    font-size: 14px;
  }
}
.about__btn:hover {
  filter: brightness(0.8);
}
.about__btn:active {
  filter: brightness(1);
}

.about__img {
  position: absolute;
  top: 140px;
  right: 112px;
}
@media screen and (max-width: 1279px) {
  .about__img {
    right: 56px;
  }
}
@media screen and (max-width: 1079px) {
  .about__img {
    display: none;
  }
}

.roadmap {
  padding-top: 131px;
  padding-bottom: 291px;
  background-image: url("../public/img/roadmap/roadmap_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1079px) {
  .roadmap {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.roadmap__container {
  width: min(1576px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.roadmap__site-map {
  margin-bottom: 62px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  text-wrap: nowrap;
}
@media screen and (max-width: 1079px) {
  .roadmap__site-map {
    display: none;
  }
}
.roadmap__site-map div {
  width: 100%;
  height: 1px;
  background: #fff;
}

.roadmap__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 96px;
  color: #fff;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1079px) {
  .roadmap__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

.roadmap__phases {
  display: flex;
  flex-direction: column;
  gap: 55px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .roadmap__phases {
    align-items: center;
    gap: 20px;
  }
}

.phase {
  width: fit-content;
  padding: 22px 40px;
  border: 1px solid #fff;
  border-radius: 23px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .phase {
    padding: 12px 8px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    backdrop-filter: blur(2px);
  }
}

.roadmap__img {
  position: absolute;
  bottom: -45px;
  right: 274px;
}
@media screen and (max-width: 1079px) {
  .roadmap__img {
    display: none;
  }
}

.buy {
  padding-top: 68px;
  padding-bottom: 150px;
  background-image: url("../public/img/buy/buy_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .buy {
    padding-top: 50px;
    padding-bottom: 32px;
    padding-left: 0;
  }
}

.buy__container {
  width: min(1600px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.buy__wrap {
  padding: 62px 74px;
  border: 1px solid #fff;
  border-radius: 51px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1079px) {
  .buy__wrap {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
  }
}

.buy__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 96px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1079px) {
  .buy__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
}

.buy__steps {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 44px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .buy__steps {
    gap: 60px;
  }
}

.steps__item {
  position: relative;
}
@media screen and (max-width: 1079px) {
  .steps__item:nth-of-type(2) .step__description {
    max-width: 248px;
  }
}

.step__title {
  margin-bottom: 37px;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .step__title {
    margin-bottom: 15px;
    font-size: 20px;
  }
}

.step__description {
  max-width: 428px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .step__description {
    max-width: 268px;
    font-size: 14px;
  }
}

.step__icon {
  position: absolute;
  top: -7px;
  right: 20px;
}
@media screen and (max-width: 1079px) {
  .step__icon {
    width: 22px;
    height: 22px;
    top: -1px;
  }
}

.buy__img {
  position: absolute;
  top: 62px;
  right: 74px;
}
@media screen and (max-width: 1079px) {
  .buy__img {
    display: none;
  }
}

.footer {
  width: 100%;
  margin-top: -80px;
  padding-top: 53px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 40px 40px 0 0;
}
@media screen and (max-width: 1079px) {
  .footer {
    margin-top: 0;
    padding-top: 38px;
    padding-bottom: 22px;
    border-radius: 0;
  }
}

.footer__container {
  width: min(1620px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.footer__top {
  margin-bottom: 28px;
  padding: 42px 90px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../public/img/footer/footer_bg.png");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1079px) {
  .footer__top {
    margin-bottom: 17px;
    padding: 22px;
    background-image: url("../public/img/footer/footer_bg_mobile.png");
  }
}

.footer__title {
  font-weight: 700;
  font-size: 40px;
}
@media screen and (max-width: 1079px) {
  .footer__title {
    font-size: 14px;
  }
}

.footer__btn {
  width: 266px;
  height: 73px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  transition: filter 200ms ease;
}
@media screen and (max-width: 1079px) {
  .footer__btn {
    width: 87px;
    height: 40px;
    font-size: 14px;
  }
}
.footer__btn:hover {
  filter: brightness(0.8);
}
.footer__btn:active {
  filter: brightness(1);
}

.footer__bottom {
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .footer__bottom {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 1079px) {
  .footer__bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 56px;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-wrap: nowrap;
}
@media screen and (max-width: 1079px) {
  .footer__links {
    gap: 14px;
    font-size: 12px;
  }
}
.footer__links .footer__link {
  transition: color 200ms ease;
}
.footer__links .footer__link:hover {
  color: #ccc;
}
.footer__links .footer__link:active {
  color: #000;
}

.footer__socials {
  padding-top: 7px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1079px) {
  .footer__socials {
    gap: 0;
  }
}
.footer__socials img {
  width: 30px;
  height: 30px;
  translate: 0 -1px;
}
.footer__socials img,
.footer__socials svg,
.footer__socials a {
  flex-shrink: 0;
}
.footer__socials img:hover,
.footer__socials svg:hover,
.footer__socials a:hover {
  transition: scale 200ms ease;
  scale: 1.05;
}
@media screen and (max-width: 1079px) {
  .footer__socials img,
  .footer__socials svg,
  .footer__socials a {
    display: none;
  }
}
.footer__socials a:first-of-type {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  background-color: #000;
}

.socials__title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  translate: 0 -10%;
  text-wrap: nowrap;
}
@media screen and (max-width: 1079px) {
  .socials__title {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
