.roadmap {
  padding-top: 131px;
  padding-bottom: 291px;
  background-image: url("../public/img/roadmap/roadmap_bg.jpg");
  background-size: cover;
  background-position: -3px 50%;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 840px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 440px) {
    background-position: -130px;
  }
}

.roadmap__container {
  width: min(1596px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
}

.roadmap__site-map {
  margin-bottom: 68px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: var(--istina-belyi);
  text-wrap: nowrap;

  @media screen and (max-width: 840px) {
    display: none;
  }

  div {
    width: 100%;
    height: 1px;
    background: var(--istina-belyi);
  }
}

.roadmap__title {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 96px;
  color: var(--istina-belyi);
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 840px) {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

.roadmap__phases {
  display: flex;
  flex-direction: column;
  gap: 55px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 840px) {
    align-items: center;
    gap: 20px;
  }
}

.phase {
  width: fit-content;
  padding: 22px 40px;
  border: 1px solid var(--istina-belyi);
  border-radius: 23px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 32px;
  color: var(--istina-belyi);

  @media screen and (max-width: 840px) {
    padding: 12px;
    font-size: 14px;
    text-align: center;
  }
}

.roadmap__img {
  position: absolute;
  bottom: -20px;
  right: -40px;

  @media screen and (max-width: 840px) {
    display: none;
  }
}
